<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MoocFilmTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MoocFilmT">
        <id column="UUID" property="uuid" />
        <result column="film_name" property="filmName" />
        <result column="film_type" property="filmType" />
        <result column="img_address" property="imgAddress" />
        <result column="film_score" property="filmScore" />
        <result column="film_preSaleNum" property="filmPresalenum" />
        <result column="film_box_office" property="filmBoxOffice" />
        <result column="film_source" property="filmSource" />
        <result column="film_cats" property="filmCats" />
        <result column="film_area" property="filmArea" />
        <result column="film_date" property="filmDate" />
        <result column="film_time" property="filmTime" />
        <result column="film_status" property="filmStatus" />
    </resultMap>


    <select id="getFilmDetailById" parameterType="java.lang.String" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">
        SELECT
            a.uuid as filmId,
            a.film_name as filmName,
            b.film_en_name as filmEnName,
            a.img_address as imgAddress,
            b.film_score as score,
            b.film_score_num as scoreNum,
            a.film_box_office as totalBox,
            (SELECT GROUP_CONCAT(t.show_name SEPARATOR ',') FROM mooc_cat_dict_t t
            WHERE FIND_IN_SET(t.UUID,(SELECT REPLACE(TRIM(BOTH '#' FROM t.film_cats),'#',',') FROM mooc_film_t t WHERE t.uuid=a.uuid))) as info01,
            CONCAT((SELECT t.show_name FROM mooc_source_dict_t t WHERE t.UUID = a.film_source),' / ',b.film_length,'分钟') as info02,
            CONCAT(SUBSTR(a.film_time,1,10),' ',(SELECT t.show_name FROM mooc_source_dict_t t WHERE t.UUID = a.film_source),'上映') as info03
        FROM mooc_film_t a,mooc_film_info_t b
        where a.UUID = b.film_id
        and a.UUID = #{filmId}
    </select>

    <select id="getFilmDetailByName" parameterType="java.lang.String" resultType="com.stylefeng.guns.api.film.vo.FilmDetailVO">
        SELECT
            a.uuid as filmId,
            a.film_name as filmName,
            b.film_en_name as filmEnName,
            a.img_address as imgAddress,
            b.film_score as score,
            b.film_score_num as scoreNum,
            a.film_box_office as totalBox,
            (SELECT GROUP_CONCAT(t.show_name SEPARATOR ',') FROM mooc_cat_dict_t t
            WHERE FIND_IN_SET(t.UUID,(SELECT REPLACE(TRIM(BOTH '#' FROM t.film_cats),'#',',') FROM mooc_film_t t WHERE t.uuid=a.uuid))) as info01,
            CONCAT((SELECT t.show_name FROM mooc_source_dict_t t WHERE t.UUID = a.film_source),' / ',b.film_length,'分钟') as info02,
            CONCAT(SUBSTR(a.film_time,1,10),' ',(SELECT t.show_name FROM mooc_source_dict_t t WHERE t.UUID = a.film_source),'上映') as info03
        FROM mooc_film_t a,mooc_film_info_t b
        where a.UUID = b.film_id
        and a.film_name like #{filmName}
    </select>
</mapper>
